<head>
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div class="col-5 name">SWEETS IN SWEETS</div>
<script src=""></script>
</head>
<div class="row logo">
    <div class="col-4"><img src="/assets/images/logo3.jpg" class="img1"></div>
    <div class="col-5 name">SWEETS IN SWEETS</div>
    <div class="col-3">
        <ol class="nav nav-tabs">
     <li class="nav-item"></li>
     <li><i class="fas fa-facebook"></i></li>
     <li><i class="fab fa-facebook-messenger"></i></li>     
     <li></li>
    </ol>
</div>
</div>
