<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link href="https://fonts.googleapis.com/css?family=BioRhyme:200,300,400,700,800&display=swap&subset=latin-ext" rel="stylesheet">
<body>
<div class="container-fluid first-sec">
 <div class="container">
     <div class="row">
         <div class="col-12 ">
             <h3 class="first"> Additional Information about High-Intensity Sweeteners Permitted for Use in Food in the United States</h3>
         </div>
     </div>
 </div>
</div>
<div class="row">
    <div class="col-3">
        <div class="f1" class="sa">Food Additives & Petitions</div>
        <div class="f2"><a class="sa" href="#">Food & Color Additive Petitions</a></div>
        <div class="f2"><a href="#" class="sa">Food Additive Status List</a></div>
        <div class="f2"><a href="#" class="sa">Color Additives in Food</a></div>
        <div class="f3"><a href="#" class="sa">Substances Added to Food (formerly EAFUS)</a></div>
    </div>
    <div class="col-6">
        <p class="para">High-intensity sweeteners are commonly used as sugar substitutes or sugar alternatives because they are many times sweeter than sugar but contribute only a few to no calories when added to foods. High-intensity sweeteners, like all other ingredients added to food in the United States, must be safe for consumption.</p>
    <h4 class="head">Saccharin</h4>
    <p class="para">Saccharin is approved for use in food as a non-nutritive sweetener. Saccharin brand names include Sweet and Low®, Sweet Twin®, Sweet'N Low®, and Necta Sweet®. It is 200 to 700 times sweeter than table sugar (sucrose), and it does not contain any calories.</p>
    <p class="para">First discovered and used in 1879, saccharin is currently approved for use, under certain conditions, in beverages, fruit juice drinks, and bases or mixes when prepared for consumption in accordance with directions, as a sugar substitute for cooking or table use, and in processed foods. Saccharin is also approved for use for certain technological purposes.</p>    
     <p class="para">In the early 1970s, saccharin was linked with the development of bladder cancer in laboratory rats, which led Congress to mandate additional studies of saccharin and the presence of a warning label on saccharin-containing products until such warning could be shown to be unnecessary. Since then, more than 30 human studies demonstrated that the results found in rats were not relevant to humans, and that saccharin is safe for human consumption. In 2000, the National Toxicology Program of the National Institutes of Health concluded that saccharin should be removed from the list of potential carcinogens. Products containing saccharin no longer have to carry the warning label.</p>
   <h4 class="head">Aspartame</h4>
    <p class="para">Aspartame is approved for use in food as a nutritive sweetener. Aspartame brand names include Nutrasweet®, Equal®, and Sugar Twin®. It does contain calories, but because it is about 200 times sweeter than table sugar, consumers are likely to use much less of it.</p>
   <p class="para">FDA approved aspartame in 1981 (46 FR 38283) for uses, under certain conditions, as a tabletop sweetener, in chewing gum, cold breakfast cereals, and dry bases for certain foods (i.e., beverages, instant coffee and tea, gelatins, puddings, and fillings, and dairy products and toppings). In 1983 (48 FR 31376), FDA approved the use of aspartame in carbonated beverages and carbonated beverage syrup bases, and in 1996, FDA approved it for use as a "general purpose sweetener." It is not heat stable and loses its sweetness when heated, so it typically isn’t used in baked goods.</p>  
   <p class="para">Aspartame is one of the most exhaustively studied substances in the human food supply, with more than 100 studies supporting its safety.
    FDA scientists have reviewed scientific data regarding the safety of aspartame in food and concluded that it is safe for the general population under certain conditions. However, people with a rare hereditary disease known as phenylketonuria (PKU) have a difficult time metabolizing phenylalanine, a component of aspartame, and should control their intake of phenylalanine from all sources, including aspartame. Labels of aspartame-containing foods and beverages must include a statement that informs individuals with PKU that the product contains phenylalanine.</p>
</div>
    <div class="col-3">
        <p class="head"><b>Content current as of:</b></p>
        <p class="para1">12/12/2019</p>
        <p class="head"><b>Regulated Product(s)</b></p>
        <p class="para1">Food & Beverages
            Food & Color Additives</p>
    </div>    
    </div>
    </body>
