<div class="final-sec">
<div class="row">
    
<div class="col-4 p1">
    <ol class="foouter">
        <li>FDA Archive</li>
        <li>About FDA</li>
        <li>Accessibility</li>
    </ol>
</div>

<div class="col-4 p1">
    <ol class="foouter">
    <li>Visitor Information</li>
    <li> Website Policies / Privacy</li>
    <li>  No FEAR Act</li>
</ol>
</div>

<div class="col-4 p1">
    <ol class="foouter">
    <li> FOIA</li>
    <li>HHS.gov</li>
    <li>USA.gov</li>
</ol>
</div>
</div>

<div class="containerfulid"></div>
<div class="row">
<div class="col-4">
    
</div>
<div class="col-4"></div>
<div class="col-4"></div>
</div>
</div>
